/* add your styles here */

h1{
  text-align: center;
  /* font-weight: 900; */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.images{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* padding-top: 50px; */
}

img {
  
  height: 63vh;
  margin: 15px;
}

